/* Container that holds everything*/
#main-container {
  display: flex;
  justify-content: space-between;
}

/* Style for the dropdown container */
#dropdown-container {
  display: flex;
  flex-direction: column;
  width: 30%; 
  padding-right: 20px; 
}

/* Style for the plot and table container */
#plot-and-table-container {
  display: flex;
  flex-direction: column; /* Stack plots and table vertically */
  width: 100%; 
}

/* Style for the plot container*/
#plot-container {
  display: flex;  
  flex-direction: column;      
  padding-top: 5%; 
  width: 100%; 
  height: 100%; 
  padding-bottom: 5%;
}


#table-container {
  display: flex;  
  width: 100%; 
  height: 100%; 
  padding-bottom: 5%; /* Add space between bottom of page and table */
}
